*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    background-color: aqua;
    background-image: url(ntfx.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: ;
}